.render-zybook {

  .books {
    text-align: center;
    width: 200px;
    height: 250px;
    font-size: 16px;
    background-color: darkorange;
    margin: 10px;
    border: solid black 2px;
  }

  .term_description {
    margin-top: 30px;
  }

  .subject_description {
    margin-top: 50px;
  }

}


div.zybooks {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
