<div class="books" {{action zybook_clicked_action zybook.zybook_code}}>
    <div class='book_title' > {{zybook.title}} </div>
    <div class="term_description">
        {{term_description}}
    </div>
    <div class="subject_description">
        {{subject_description}}
    </div>
</div>
