<div class="chapters">
  {{#each model.chapters as |tableUnit|}}
    {{render-contents chapter=tableUnit}}
  {{/each}}
  <div class="actions">
{{#each userActivity as |activity|}}
  {{activity.date}}
{{/each}}

  </div>
</div>
